﻿<div class="col-md-6 col-md-offset-3">
    <h1>Hi {{currentUser.username}}!</h1>
    <ul>
        <li *ngFor="let user of users">
            {{user.username}} ({{user.email}})
             - <a (click)="deleteUser(user.id)">Delete</a>
        </li>
    </ul>
    <p><a [routerLink]="['/login']" >Logout</a></p>
</div>