<div>
    <button class="btn-sm btn-social btn-facebook" (click)="onLoginClick('facebook')">
        <i class="fa fa-facebook fa-fw"></i>Facebook
    </button>
    <button class="btn-sm btn-social btn-twitter" (click)="onLoginClick('twitter')">
        <i class="fa fa-twitter fa-fw"></i>Twitter
    </button>
    <button class="btn-sm btn-social btn-google" (click)="onLoginClick('google')">
        <i class="fa fa-google fa-fw"></i>Google
    </button>
</div>